# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Env
.env
.env.local

# Vector store / RAG data
#backend/app/rag/chroma_db/
#backend/chroma_db/
#backend/chroma_db_mock/

# Node / frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# OS / editor
.DS_Store
.vscode/
.idea/
